{% extends "base_public.html" %}
{% block content %}
<h2>About K.A.V Auditorium</h2>
<p>Our KAV Auditorium in Mundur can accommodate a seating capacity of 550 and a floating capacity of 825. The Dining capacity of KAV Auditorium is 220. The Function Hall is on the Ground floor. A parking facility is available for 50 cars and 100 bikes. There is a generator backup for the event to function smoothly during a power cut. The Marriage Halls provides air-conditioned rooms with a locker facility for the guests. Both the Dining hall and Function hall are on the same floor which is an added advantage. You can contact us via Mandap.com for the best venue services.</p>
<ul>
  <li>Seating Capacity: 800+</li>
  <li>Centralized Air Conditioning</li>
  <li>Ample Parking Space</li>
  <li>Dining Hall and Rooms Available</li>
</ul>
{% endblock %}
